In [4]:
import pandas as pd
from pandas import  Series,DataFrame
obj = Series([4,7,-5,3],index=['a','b','c','d'])
print(obj)
print(obj.index)
print(obj.values)
# Series  取值类似于数组
print(obj[1])
print(obj['b'])
print(obj[['a','c']])
obj[obj>0].values[1]

a    4
b    7
c   -5
d    3
dtype: int64
Index(['a', 'b', 'c', 'd'], dtype='object')
[ 4  7 -5  3]
7
7
a    4
c   -5
dtype: int64

7

In [7]:
'a' in obj
7 in obj.values

True

In [ ]:
pd.isnull()
pd.notnull()

In [12]:
import numpy as np
df = DataFrame(np.arange(9).reshape((3,3)),columns=list('bcd'),
               index=['O','T','C']
               )
df.b.values

array([0, 3, 6])

In [9]:
import  pandas as pd
import  numpy as np
df = pd.DataFrame(np.random.randn(10, 4),columns=list('ABCD'))
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-0.363217</td>
      <td>-0.033651</td>
      <td>-1.264733</td>
      <td>-0.197691</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.252123</td>
      <td>1.142816</td>
      <td>1.227437</td>
      <td>0.405201</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-1.296486</td>
      <td>-0.347593</td>
      <td>-0.226636</td>
      <td>0.676572</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-0.550238</td>
      <td>-0.496204</td>
      <td>1.176004</td>
      <td>-0.365347</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-0.700461</td>
      <td>-0.309004</td>
      <td>-0.732657</td>
      <td>-0.001398</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-0.232795</td>
      <td>-0.426869</td>
      <td>1.206844</td>
      <td>-0.372725</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.800205</td>
      <td>1.669275</td>
      <td>-0.633948</td>
      <td>0.124218</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-1.341254</td>
      <td>-0.790865</td>
      <td>0.202878</td>
      <td>-0.777620</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1.246724</td>
      <td>0.395197</td>
      <td>-1.649035</td>
      <td>1.586184</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-1.634933</td>
      <td>0.455317</td>
      <td>1.185710</td>
      <td>0.100127</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
df1 = pd.concat([df["A"],df["D"]],axis=1)
df1

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-0.363217</td>
      <td>-0.197691</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.252123</td>
      <td>0.405201</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-1.296486</td>
      <td>0.676572</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-0.550238</td>
      <td>-0.365347</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-0.700461</td>
      <td>-0.001398</td>
    </tr>
    <tr>
      <th>5</th>
      <td>-0.232795</td>
      <td>-0.372725</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.800205</td>
      <td>0.124218</td>
    </tr>
    <tr>
      <th>7</th>
      <td>-1.341254</td>
      <td>-0.777620</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1.246724</td>
      <td>1.586184</td>
    </tr>
    <tr>
      <th>9</th>
      <td>-1.634933</td>
      <td>0.100127</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2012-01-01 00:00:00    199
2012-01-01 00:00:01     73
2012-01-01 00:00:02    286
2012-01-01 00:00:03    183
2012-01-01 00:00:04     76
2012-01-01 00:00:05    340
2012-01-01 00:00:06    142
2012-01-01 00:00:07     74
2012-01-01 00:00:08    129
2012-01-01 00:00:09     82
2012-01-01 00:00:10    317
2012-01-01 00:00:11     63
2012-01-01 00:00:12     86
2012-01-01 00:00:13    493
2012-01-01 00:00:14    344
2012-01-01 00:00:15    102
2012-01-01 00:00:16    147
2012-01-01 00:00:17    303
2012-01-01 00:00:18    463
2012-01-01 00:00:19    439
2012-01-01 00:00:20    145
2012-01-01 00:00:21     79
2012-01-01 00:00:22    486
2012-01-01 00:00:23    267
2012-01-01 00:00:24    139
2012-01-01 00:00:25    437
2012-01-01 00:00:26    475
2012-01-01 00:00:27    467
2012-01-01 00:00:28    464
2012-01-01 00:00:29    196
                      ...
2012-01-01 00:01:10     56
2012-01-01 00:01:11    122
2012-01-01 00:01:12    396
2012-01-01 00:01:13    403
2012-01-01 00:01:14    478
2012-01-01 00:01:15     47
2012-01-01 00:01:16    327
2012-01-01 00:01:17     20
2012-01-01 00:01:18    493
2012-01-01 00:01:19    162
2012-01-01 00:01:20    207
2012-01-01 00:01:21     60
2012-01-01 00:01:22    394
2012-01-01 00:01:23    476
2012-01-01 00:01:24    491
2012-01-01 00:01:25    435
2012-01-01 00:01:26    404
2012-01-01 00:01:27    237
2012-01-01 00:01:28    393
2012-01-01 00:01:29    264
2012-01-01 00:01:30    349
2012-01-01 00:01:31    262
2012-01-01 00:01:32    393
2012-01-01 00:01:33    281
2012-01-01 00:01:34    169
2012-01-01 00:01:35     21
2012-01-01 00:01:36    142
2012-01-01 00:01:37    163
2012-01-01 00:01:38    167
2012-01-01 00:01:39    447
Freq: S, dtype: int32

In [19]:
df1.ix[0][0]

-0.36321654809308757

In [18]:
for i in range(3):
    print(i)

0
1
2

In [20]:
a = slice(3,6)
a

slice(3, 6, None)

In [21]:
a.start

3